{erl_opts, [
  debug_info,
  {parse_transform, decorators},
  {decorate, [
    % {relocating_particle, [
    %   {{compute_move, 1}, [{relocating_engine, log_move}]}
    % ]},
    {relocating_env, [
      {{update_best, 3}, [{relocating_engine, log_update}]}
    ]}
  ]}
]}.
{deps, [
  {stepflow,
    {git, "https://github.com/hachreak/stepflow.git", {branch, master}}},
  {erlang_decorators,
   {git, "https://github.com/egobrain/erlang_decorators.git", {tag, "0.2.1"}}},
  {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.1"}}}
]}.
{profiles, [
  {test, [
    {deps, [
      {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.8"}}}
    ]}
  ]}
]}.
