{erl_opts, [debug_info]}.
{deps, [
  {erlang_decorators,
   {git, "https://github.com/egobrain/erlang_decorators.git", {tag, "0.2.1"}}},
  {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.1"}}}
]}.
{profiles, [
  {test, [
    {deps, [
      {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.8"}}}
    ]}
  ]}
]}.
